:root {
    --font: "Source Sans Pro", system-ui;
    --monospace: "SF Mono", monospace;

    --white: #ffffff;
    --black: #000000;
    --gray: #787878;
    --primary: #2965ff;
    --primary-lighter: #497cff;

    --purple: rgb(152, 50, 199);
    --sand: #ff6542;
    --jungle: #81cc0c;
}
