@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");
@import "./styles/root";

* {
    box-sizing: border-box;
}

html {
    font-family: var(--font);
}

body {
    background-color: rgba(0, 0, 0, 0.05);
}

a,
a:link {
    color: var(--primary);
    text-decoration: none;

    &:hover {
        color: var(--primary-lighter);
    }
}
